# Path-based git attributes
# https://git-scm.com/docs/gitattributes

# Exclude development-only paths from the Composer dist archive
# (git archive / Packagist dist / composer install --prefer-dist).
# Runtime-required paths (src/, config/, composer.json, LICENSE, README.md)
# are intentionally NOT ignored.
/.github            export-ignore
/.claude            export-ignore
/docs               export-ignore
/tests              export-ignore
/.gitattributes     export-ignore
/.gitignore         export-ignore
/.mcp.json          export-ignore
/CLAUDE.md          export-ignore
/phpstan.neon       export-ignore
/phpunit.xml        export-ignore
/pint.json          export-ignore
/testbench.yaml     export-ignore
