includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: 6
    paths:
        - src
        - tests
    excludePaths:
        - tests/Fixtures/*
        - tests/Pest.php
    tmpDir: .phpstan.cache
