includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: 6
    paths:
        - src
        - tests
    excludePaths:
        - tests/Fixtures/*
    tmpDir: .phpstan.cache
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
